name: Deploy

on:
  push:
    branches: [ master ]
  schedule:
    - cron: "* 03 * * *"
jobs:
  autoDeploy:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
        with:
          fetch-depth: '1'

      - uses: actions/cache@v2
        id: cache
        with:
          path: |
            node_modules
            */*/node_modules
          key: ${{ runner.os }}-${{ hashFiles('**/yarn.lock') }}

      - name: install
        if: steps.cache.outputs.cache-hit != 'true'
        run: yarn install --ignore-engines

      - name: build
        run: yarn build
        env:
          GH_PAGES: true

      - name: test
        run: yarn test

      - name: deploy
        uses: peaceiris/actions-gh-pages@v3
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          publish_dir: ./dist
